body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styling */
header {
  background-color:#cac7cf;
  color: rgb(8, 7, 7);
  padding: 20px;
  text-align: center;
}

/* Navigation styling */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(15, 13, 13);
  text-decoration: none;
}

/* Section styling */
section {
  background: #cac7cf;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

img {
  max-width: 100px;
  display: block;
  margin-bottom: 15px;
}

ul li {
  padding: 5px 0;
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
